/* Definición de la fuente */
@font-face {
  font-family: "core-rhino";
  src: url("/src/assets/fonts/core-rhino.ttf") format("woff2"),
    url("/src/assets/fonts/core-rhino.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("/src/assets/img/textura2.png");
}

.nav-link {
  font-size: 20px;
  font-family: "core-rhino", sans-serif;
}

.nav-link:hover {
  color: #0EA498;
}

@media (max-width: 900px) {
  .logo {
    display: block; /* Asegura que la imagen se comporte como un bloque */
    width: 80px; /* Establece un ancho específico para la imagen */
    height: auto;
  }

  nav{
    background-color: white;
    background-image: url("/src/assets/img/textura2.png");
    z-index: 1;
  }
}
