.nosotros-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  background-color: #0ea498;
  background-image: url("/src/assets/img/textura.png");
  background-size: cover; /* Asegura que la imagen cubra todo el div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: calc(
    100vh - 60px
  ); /* Ocupa todo el alto del contenedor menos el espacio para los bordes */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: inherit;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  --mask: linear-gradient(to bottom, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) top/55.5px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box::before {
  top: -15px; /* Posiciona el borde arriba del contenedor */
}

.box::after {
  bottom: -15px; /* Posiciona el borde abajo del contenedor */
  --mask: linear-gradient(to top, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) bottom/55.5px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@font-face {
  font-family: "Maternal";
  src: url("src/assets/fonts/Maternal.ttf") format("woff2"),
    url("src/assets/fonts/Maternal.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fusion {
  font-family: "Maternal", sans-serif;
  color: #d3b18a; /* Beige color */
  text-shadow: 1px 1px 0 #fff,
    /* Sombra blanca desplazada 1px arriba a la derecha */ 2px 2px #fff,
    /* Sombra blanca desplazada 1px abajo a la derecha */ 8px 8px 8px
      rgba(0, 0, 0, 0.5); /* Sombra negra con desenfoque de 4px para profundidad */
  margin: 10px;
  padding: 0;
}


  .lema {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15%;
    padding: 0;
  }
  
  .nosotrosLema {
    margin:10px;
    padding: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
  }
  
  .imagen-nosotros {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .imagen {
    margin-top: 20%;
    margin-left: 30%;
    width:45%;
    border: 5px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .imagen2 {
    margin-bottom: 30%;
    margin-right: 20%;
    width: 350px;
    height: 300px;
    border: 5px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  